<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chore Hero</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/home.css" rel="stylesheet">
    <link href="css/settings.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="row">
        <div class="col-xs-2 col-md-1">
            <div class="navbar-header">
                <button id="hamburger" style="font-size: 250%;" class="btn-transparent btn-default" type="button" onclick="toggleNav()">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
            </div>
        </div>
        <div class="col-xs-3 col-md-6">
            <h1 id="app-name">Chore Hero</h1>
        </div>
    </div>
</nav>

<div id="side-nav" class="sidenav">
    <div class="row">
        <h4>Hi, {{username}}</h4>
        <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
    </div>
    <form id="logout" method="post" action="/logout">
        <button type="submit" class="btn btn-default" id="logout-button" form="logout">Log Out</button>
    </form>
</div>

<div class="container-fluid">
    <h1 class="text-center">Creating House {{house_name}}...</h1>
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1"><hr>
        </div>
    </div>

    <div class="row text-center">
        <h3>Choose which chores you would like to track</h3>
    </div>
    <br>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12">           
            <form class="form-horizontal" id="choose_chores" method="get" action="/choose_chores">
                <div class="form-group text-center"> 
                    <div class="col-md-6 col-md-offset-3">
                        <button type="submit" class="btn btn-default" form="choose_chores">Next</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/home.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>
</div>

</body>
</html>