hr {
    height: 5px;
    border-top: 1px solid #000;
}

.glyphicon-remove {
    color: red;
    margin-left:15px;
    margin-right: 5px;
    cursor: pointer;
}

.glyphicon-menu-down {
    margin-left: 8px;
}

.glyphicon-menu-up {
    margin-left: 8px;
}

.carousel-container {
    background-color: #e6e6e6;
    padding: 10px 28px 10px 28px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.chore-buttons {
    background-color: #00b3b3;
    color: white;
    width: 120px;
    height: 100px;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

.chore-buttons:hover {
    background-color: #008080;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.chore-buttons:focus {
    color: white;
    background color: #008080;
}

.list-inline {
    padding-bottom: 30px;
}

.time-titles {
    font-size: 22px;
    margin-top: 8px;
}

/*score label */
#score-label {
    height: 50px;
    margin-top: 2.5px;
    margin-bottom: 0px;
    max-width: 60px;
    font-size: 35px;
    padding-left: 10px;
    padding-top: 0px;
}

/* progress bar (white part of score bar) */
.progress {
    height: 35px;
    margin-bottom: 5px;
    margin-top: 10px;
    max-width: 300px;
}

/* score bar (colored/filled in part of score bar) */
#score-bar {
    background-color: #00b3b3;
}

#app-name {
    color: #00b3b3;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bold;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    height: 75px;
    padding-left: 10px;
    padding-top: 10px;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
    
    #app-name {
        display: none;
    }

    .carousel-container {
        padding: 10px;
    }
}