@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=ABeeZee');


/* FONTS IN GENERAL */

h1 {
    font-family: 'Oswald';
    font-weight: 600;
}

h2, h3, h4 {
    font-family: 'Montserrat';
    font-weight: 300;
}

h5, h6, p {
    font-family: 'ABeeZee';
}

.btn-default, label {
    font-family: 'ABeeZee';
}




/*TOP NAV BAR */

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    z-index: 6;
    background-color: #03507E;
    margin-bottom: 0;
    border-radius: 0;
    height: 75px;
    padding-left: 10px;
    padding-top: 10px;
}

#hamburger {
    color: #a9a8a0;
    font-size: 45px;
    margin-left: 20px;
    cursor: pointer;
}

/*score label */
#score-label {
    background-color: #a9a8a0;
    border-color: #a9a8a0;
    height: 60px;
    width: 80px;
    margin-top: -1.5px;
    margin-bottom: 0px;
    max-width: 80px;
    font-size: 35px;
    padding-left: 2px;
    padding-top: 0px;
    font-family: "ABeeZee";
}

/* progress bar (white part of score bar) */
.progress {
    height: 35px;
    margin-bottom: 5px;
    margin-top: 10px;
    max-width: 300px;
    font-family: "ABeeZee";
    padding: 2px;
}

/* score bar (colored/filled in part of score bar) */
#score-bar {
    background-color: #a9a8a0;
}

#score-bar-label {
    color: #000000;
    font-size: 20px;
    position: absolute;
    margin-top: 8px;
    margin-left: 10px;

}

.app-name {
    color: #ffffff;
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: 'Oswald';
    font-weight: 600;
}

.app-name-login {
    color: #ffffff;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 80px;
    font-family: 'Oswald';
    font-weight: 600;
}

/*our logo, with cape */
.hero {
    height: 55px;
    margin-right: 15px;
}

.nav_category_pics {
    width: 74px;
}

#nav_villian_pic {
    width: 61px;
    margin-left: 7px;
    margin-top: 1px;
}

#nav_hero_pic {
    width: 71px;
    margin-left: 2px;
    margin-top: 1px;
}


/* SIDE NAV */

#side-nav {
    width: 0px; 
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 5; /* Stay on top, but after the top nav bar */
    top: 0;
    left: 0;
    background-color: #03507E;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
    padding-top: 75px; /* Place content 60px from the top */
    transition: 0.4s; /* 0.5 second transition effect to slide in the sidenav */
    font-family: "Montserrat";
    font-weight: 300;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #a9a8a0;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #ffffff;
}

.sidenav h4 {
    color: #ffffff;
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#logout-button {
    float: right;
    margin-right: 15px;
}





/* BODY */


.page-title {
    font-family: "Montserrat";
    font-weight: 300;
}

hr {
    height: 5px;
    border-top: 1px solid #000;
}

.glyphicon-remove {
    color: red;
    margin-left:15px;
    margin-right: 5px;
    cursor: pointer;
}

.glyphicon-menu-down {
    margin-left: 8px;
}

.glyphicon-menu-up {
    margin-left: 8px;
}

.carousel-container {
    background-color: #a9a8a0;
    padding: 10px 28px 10px 28px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.chore-buttons {
    background-color: #03507e;
    color: white;
    width: 120px;
    height: 100px;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-family: 'ABeeZee';
}

.chore-buttons:hover {
    background-color: #02304b;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.chore-buttons:focus {
    color: white;
    background color: #008080;
}

.overdue-buttons {
    background-color: #c30101 !important;
}

.overdue-buttons:hover {
    background-color: #7f0101 !important;
}

.btn-default:hover {
    background-color: #a9a8a0;
}

.list-inline {
    padding-bottom: 30px;
}

.time-titles {
    font-size: 22px;
    margin-top: 8px;
    font-family: 'ABeeZee';
}

.overdue-title {
    color: #c30101;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

.hide {
    {display:none;}
}

.center {
    text-align: center;
}

.center-list {
    display:table;
    margin: 0 auto;
}





/* ON SMALL SCREENS */

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 480px) {
    .row.content {height:auto;}
    
    .app-name.no-show {
        display: none;
    }

    .carousel-container {
        padding: 10px;
    }

    .chore-buttons {
        font-size: 13px;
        width: 100px;
    }

    #score-bar-label {
        font-size: 13px;
        margin-left: 2px;
    }

    #hamburger {
        margin-left: 0px;
    }
}