@media screen and (max-width: 480px) {
    /*.row.content {height:auto;}*/
    
    /* To center graph on small screens */
    .ltr {
        right:10%;
    }
}

#your-rank-container {
	background-color: #a9a8a0;
	border-radius: 10px;
	padding-bottom: 10px;
	font-family: "Montserrat";
	font-weight: 300;
}